html {
  --custom-bg: #1b1b1b;
  --af-content-border: 1px solid light-dark(rgba(0, 0, 0, 0.2), rgba(237,237,240,0.2));
  --toolbar-field-background-color:#2f2f2f !important;
  --toolbar-field-focus-background-color: var(--toolbar-field-background-color) !important;
}
body {
  background: var(--custom-bg) !important;
}

html:not([privatebrowsingmode="temporary"]) #navigator-toolbox {
  padding-top: 3px;
  padding-bottom: 4px;
  background: var(--custom-bg) !important;
  border-bottom: 0 !important;
}

#nav-bar {
  background: var(--custom-bg) !important;
}

html:not([privatebrowsingmode="temporary"]) #sidebar-box {
  background: var(--custom-bg) !important;
}

html:not([privatebrowsingmode="temporary"]) #sidebar-splitter {
  border: none !important;
  background: transparent !important;
  width: 1px !important;
}

html:not([privatebrowsingmode="temporary"]) #TabsToolbar {
  visibility: collapse !important;
}

#TabsToolbar {
  background: var(--custom-bg) !important;
}

html:not([privatebrowsingmode="temporary"]) .titlebar-buttonbox-container {
  position: absolute;
  right: 0;
  top: 9px;
  display: flex;
  justify-content: center;
  width: 110px !important;
}

.titlebar-button {
  width: 36px !important;
}

html:not([privatebrowsingmode="temporary"]) #nav-bar {
  width: calc(100% - 110px);
}

html:not([privatebrowsingmode="temporary"]) #sidebar-header {
  display: none;
}

#identity-icon-label {
  display: none;
}

#urlbar-background,
#searchbar {
    border: var(--af-content-border) !important;
    opacity: 0.8 !important;
    min-height: 28px !important;
    padding-top: 4px;
}

html:not([privatebrowsingmode="temporary"]) #sidebar-box {
  --uc-sidebar-width: 45px;
  --uc-sidebar-hover-width: 300px;
  --uc-autohide-sidebar-delay-before: 5ms;
  --uc-autohide-sidebar-delay-after: 3ms;
  --uc-autohide-transition-duration: 125ms;
  --uc-autohide-transition-type: ease-in-out;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index: 1;
}

html:not([privatebrowsingmode="temporary"])
  #main-window[sizemode="fullscreen"]
  #sidebar-box {
  --uc-sidebar-width: 1px;
}

html:not([privatebrowsingmode="temporary"]) #sidebar-splitter {
  display: none;
}

html:not([privatebrowsingmode="temporary"]) #sidebar {
  transition: all var(--uc-autohide-transition-duration)
    var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay-after) !important;
  min-width: var(--uc-sidebar-width) !important;
}

html:not([privatebrowsingmode="temporary"]) #sidebar-box:hover > #sidebar {
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: var(--uc-autohide-sidebar-delay-before) !important;
}

html:not([privatebrowsingmode="temporary"]) .sidebar-panel {
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important;
}
